In [2]:
#creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(lst)
print(type(lst))

tpl=tuple()
print(tpl)
print(type(tpl))

[]
<class 'list'>
()
<class 'tuple'>

In [4]:
numbers=tuple([1,2,3,4,5])

print(numbers)

(1, 2, 3, 4, 5)

In [5]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [6]:
mixed_tuples=(1,"hello wolrd",3.14,True)
print(mixed_tuples)
print(type(mixed_tuples))

(1, 'hello wolrd', 3.14, True)
<class 'tuple'>

In [7]:
##Acessing Tuple elements
numbers

(1, 2, 3, 4, 5)

In [8]:
print(numbers[2])

3

In [9]:
print(numbers[-1])
numbers[0:4]

5

(1, 2, 3, 4)

In [10]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [11]:
##Tuples operation

conacatenation=numbers+mixed_tuples
print(conacatenation)

(1, 2, 3, 4, 5, 1, 'hello wolrd', 3.14, True)

In [16]:
mixed_tuples=(1,"hello wolrd",3.14,True)
mixed_tuple *3

NameError: name 'mixed_tuple' is not defined

In [34]:
numbers *3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [1]:
##Immutable nature of tuples
##Tuples are immutable ,meaning their elemnts cannnot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'krish', 3, 4, 5]

In [49]:
numbers=(1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

In [50]:
numbers[1]="radha"
print(type(numbers))

TypeError: 'tuple' object does not support item assignment

In [53]:
numbers

(1, 2, 3, 4, 5)

In [52]:
##Tuples methods

print(numbers.count(1))

1

In [54]:
print(numbers.index(3))

2

In [56]:
##Packing and unpacking tuples
packed_tuples=1,"hello",3.14
print(packed_tuples)

(1, 'hello', 3.14)

In [57]:
##Unpacking tuple
a,b,c=packed_tuples
print(a)
print(b)
print(c)

1
hello
3.14

In [61]:
## Unpacking with star(*)
number=(1,2,3,4,5,6)
first, *middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [ ]:
##Nested TUples
##nested list
lst=[[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
lst[0][2]
print(lst[0][2])
lst[1]
print(lst[1])
lst[0][0:3]
print(lst[0][0:3])

3
[6, 7, 8, 9]
[1, 2, 3]

In [10]:
lst=[(1,2,3,4),(6,7,8,9),(1,"hello",3.14,"c")]
lst[2][0:3]

(1, 'hello', 3.14)

In [14]:
nested_tuple=((1,2,3)),(("a","b","c")),((True,False))

##access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [20]:
##iterating over nested tuples
for  sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

conclusion

tuples are versatile and useful in many real worlds scenarios where an immutable and ordered collection of items is required .they are common used in data structures,functions arguments and return values,and as dictionary keys. understanding how to leverage tuples effecyively can improve the efficency and readability of your python code.