variables are fundamental elements in programming used to store data  that can be referneced and manipulated in a program. in python variables are created when you assign to value a them,and they do not need explicit declaraition to resrve memory space. the declaration happens automatically when you assign a value to a variable

In [1]:
a=100

In [2]:
##declaring and assigning variables
age=32
height=6.1
name="jyoti"
is_student=True

##printing thw variable
print("age :",age)
print("height:",height)
print("name:",name)

age : 32
height: 6.1
name: jyoti

In [3]:
#Naming convention
##variables anmes should be descriptive
#they must atart with a letter pr an'_' and contains letter,numbers and underscore
##varaible name are case sensitive


#valid avraible anme
first_name="jyoti"
last_name="kumari"

In [5]:
##understanding variables type
##python is dyna,ically typed of a variable is determined at runtime
age=25#int
height=6.1#float
name="jyoti"#string
is_student=True #bool

print(type(name))

<class 'str'>

In [6]:
#type checking and name conversion
type(height)

float

In [8]:
age=25
print(type(age))


#type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [9]:
age='25'
print(type(int(age)))

<class 'int'>

In [10]:
name="jyoti"
int(name)

ValueError: invalid literal for int() with base 10: 'jyoti'

In [11]:
height=6.0
type(height)

float

In [13]:
float(int(height))

6.0

In [14]:
##dynamic typing
##python allows the type of a variable to change as the program execute


var=10 #int
print(var,type(var)) 

var="hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [17]:
##input 

age=int(input("what is the age"))
print(age),type(age)

23

(None, int)

In [18]:
##simple calculator
num1 =float(input("enter the first number"))
num2= float(input("enter the second number"))
            
sum= num1+num2
differnce=num1-num2
product =num1 * num2
quotient=num1 /num2

print("sum",sum)
print("differnece:",differnce)
print("product",product)
print("quotient",quotient)

sum 25.0
differnece: 5.0
product 150.0
quotient 1.5